body {
  font-family: arial;
  background: #f8f9fb;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}

body {
  background: #21202d;
  color: #ffffff;
  font-weight: bold;
}

.wrapper {
  max-height: 100%;
  max-width: 100%;
  background: #21202d;
  margin: 3% auto;
  width: 50%;
  text-align: center;
}

form {
  margin-bottom: 1.2em;
}

ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #201c2a;
  padding: 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul::after {
  content: "";
  clear: both;
}

ul li {
  padding: 10px;
  display: inline-block;
}

ul div {
  display: inline-block;
  margin-right: 5px;
}

.naImage {
  background: #3e3b48;
  width: 15px;
  height: 15px;
  border-radius: 10px 10px 0px 0px;
}

.selectedImage {
  background: #6fe5f5;
  width: 15px;
  height: 15px;
  border-radius: 10px 10px 0px 0px;
}

.occupiedImage {
  background: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 10px 10px 0px 0px;
}

.visual-screen {
  width: 90%;
  height: 175px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 1px 2px 2px rgba(255, 255, 255, 0.8);
  -webkit-transform: rotateX(65deg);
          transform: rotateX(65deg);
  margin: 20px auto;
}

.seats {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  margin: 10px auto;
  justify-items: space-between;
}

.seat {
  background: #3e3b48;
  width: 15px;
  height: 15px;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  margin: 5px auto;
}

.first-column {
  width: auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.second-column {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.third-column {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.occupied {
  background: #ffffff;
}

.selected {
  background: #6fe5f5;
}

#numberOfSeats, #price {
  color: #6fe5f5;
}

#movies {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  margin-left: 10px;
  background: #ffffff;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

select option {
  background: #30303a;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 8px;
}

#movies:focus {
  outline: 2px solid #6fe5f5;
}

select option:checked {
  background: #6fe5f5;
  color: black;
}
/*# sourceMappingURL=styles.css.map */